/* Nav bar styles */

.navbar {
  background-color: $nav-background-color;

  &__menu-icon--logo {
    font-size: 1.7rem;
  }

  &__search-bar {
    background-color: $nav-searchbar-background-color;
    color: $nav-searchbar-text-color;
  }

  &__search-bar:focus {
    background-color: $nav-searchbar-background-color;
    color: $nav-searchbar-text-color;
    box-shadow: none;
  }

  &__menu-hamburger-text {
    font-size: 0.55rem;
  }

  &__menu-pen-box {
    background: $button-color no-repeat center;
    border-radius: 5px;
    width: 27px;
  }

  &__menu-icon--pen {
    color: $nav-pen-color;
  }
}

@media screen and (max-width: 575px) {

  .navbar {

    &__menu-pen-box {
      width: 40px;
    }
  }
}
