//Components
@import "../components/nav-bar";
@import "../components/main-row";
@import "../components/aside";
@import "../components/modal";

// General styles

p {
  color: $gray-text;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

button:active,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
}

input[type="file"] {
  color: transparent;
}

::placeholder {
  color: $placeholder-color;
}

.fa-grey {
  color: $gray-icon;
}

.fa-black {
  color: $black-text;
}

.fa-white {
  color: $white-text;
}

main {
  background-color: $main-background-color;
  padding: 37px 1.5% 0;
}

/* Media queries for responsiveness */


@media screen and (max-width: 600px) {

  .col-xs-2 {
    width: 16.666%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-5 {
    width: 41.666%;
  }

  .col-xs-7 {
    width: 58.333%;
  }

  .col-xs-8 {
    width: 60.666%;
  }

  .col-xs-9 {
    width: 75%;
  }
}
