p {
  color: $gray-text;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

button:active,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
}

input[type="file"] {
  color: transparent;
}

::placeholder {
  color: $placeholder-color;
}

.fa-grey {
  color: $gray-icon;
}

.fa-black {
  color: $black-text;
}

.fa-white {
  color: $white-text;
}

/* Main section styles */

main {
  background-color: $main-background-color;
  padding: 37px 1.5% 0;

  /* Main content styles */

  .main-row {
    margin-bottom: 30px;
  }

  .main-row__post-content-box {
    background-color: $main-box-background-color;
    padding: 22px 5.5% 27px;
  }

  .main-row__post-content-box__option {
    text-align: center;
  }

  .main-row__post-content-box-option-link {
    height: 35px;
    display: inline-block;
  }

  .main-row__post-content-box-option {
    background-image: url(../../assets/img/sprite-mixins.png);
    display: inline-block;
    width: $small-sprite;
    height: $small-sprite;
  }

  .main-row__post-content-box--text {

    @include sprite(0, true);
  }

  .main-row__post-content-box--photo {

    @include sprite(1, true);
  }

  .main-row__post-content-box--quote {

    @include sprite(2, true);
  }

  .main-row__post-content-box--link {

    @include sprite(3, true);
  }

  .main-row__post-content-box--chat {

    @include sprite(4, true);
  }

  .main-row__post-content-box--audio {

    @include sprite(5, true);
  }

  .main-row__post-content-box--video {

    @include sprite(6, true);
  }

  .main-row__posted-content-box {
    background-color: $main-box-background-color;
  }

  .main-row__posted-content-info {
    padding: 33px 5.5%;
  }

  .main-row__posted-content-action-icons {
    margin-top: 36px;
  }

  /* Aside styles */

  .aside__box {
    background-color: $main-box-background-color;
    margin-bottom: 30px;
  }

  h6 {
    padding: 28px $aside-padding 23px;
  }

  .aside__explore-tumblr {
    padding: 4px $aside-padding 24px;
  }

  .aside__profile-picture {
    padding-top: 8px;
  }

  .aside__username {
    color: $aside-name-color;
  }

  .aside__blogname {
    color: $aside-blogname-color;
    font-size: 0.9rem;
  }

  .aside__plus-symbol {
    padding-left: 3.1%;
  }

  .aside__frame {
    padding: 0 $aside-padding 20px;
    border-bottom: 1px $aside-frame-border-color solid;
    margin-bottom: 14px;
  }

  .aside__frame-radar {
    padding: 0 $aside-padding 15px;
  }

  .aside__radar-photo {
    width: 100%;
    padding: 0 $aside-padding 15px;
    margin-bottom: 16px;
  }

  .aside__radar-info {
    padding: 0 $aside-padding 15px;
  }
}

/* Modal styles */

.modal {
  width: 52.77%;
  height: 380px;
  margin: 181px auto 0;
}

.modal-backdrop {
  background-color: $modal-backdrop-color;
}

.modal-dialog {
  max-width: none;
  width: 100%;
  height: 100%;
}

.modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}

.modal-header-custom,
.modal-footer-custom {

  p {
    color: $black-text;
  }
}

.modal-header-custom {
  padding: 23px 5.95% 29px;
  height: 73px;

  .modal-header-dropdown {
    color: $black-text;
    background-color: transparent;
    border: none;

    strong {
      margin-right: 4%;
    }
  }

  .modal-header-dropdown:active {
    color: $black-text !important;
    background-color: transparent !important;
    border: none !important;
  }

}

.modal-body {
  background-color: $modal-body-background-color;
  height: 200px;

  .modal-body-row {
    width: 100%;
    height: 100%;
  }

  .modal-first-col {
    border-right: 1px solid $modal-body-border-color;
  }

  .modal-body-upload {
    text-align: center;

    p {
      color: $modal-body-text-color;
    }
  }

  .local-upload {
    margin: 66px 30%;
  }

  .web-upload {
    margin: 57px 30%;
  }

  .modal-body-icon-holder-web {
    height: 71px;
  }

  .modal-body-icon-holder-local {
    height: 63px;
  }

  .modal-body-icon {
    background-image: url(../../assets/img/sprite-mixins.png);
    display: inline-block;
    width: $big-sprite;
    height: $big-sprite;

    input {
      display: none;
    }
  }

  .modal-body-icon--local {

    @include sprite(0, false);
  }

  .modal-body-icon--web {

    @include sprite(1, false);
  }

  .input-group-btn {
    width: 100%;
  }

  .modal-body-uploaded-image {
    width: 55%;
    height: 55%;
    display: none;
  }
}

.modal-footer-custom {
  padding: 20px 5.95%;
  height: 73px;

  .modal-footer-dropdown {
    border: none;
    width: 96px;
    height: 34px;
    background-color: $button-color;
    color: #fff;
    font-size: 0.7rem;
    padding: 8px 0 15px;

    i {
      margin-left: 14%;
    }
  }

  .modal-footer-dropdown:active {
    background-color: $button-inactive-color !important;
    border: none !important;
  }
}

/* Media queries for responsiveness */

@media screen and (max-width: 1400px) and (min-width: 992px) {

  main {

    .aside__profile-picture {
      width: 90%;
      padding-top: 4px;
    }

    .aside__username,
    .aside__explore-tumblr,
    h6 {
      font-size: 0.8rem;
    }

    .aside__blogname {
      font-size: 0.6rem;
    }
  }
}

@media screen and (max-width: 992px) {

  main {
    padding-left: 3%;

    .main-row__posted-content-info {
      padding: 33px 2%;
    }

    .aside__box {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 768px) {

  main {

    .main-row__profile-pic {
      padding-right: 0;
      padding-left: 0;
      width: 100%;
      margin-bottom: 10px;

      img {
        width: 10%;
      }
    }
  }

  .modal {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {

  main {

    .main-row__content {
      width: 100%;
    }

    .main-row__post-content-box {
      padding-right: 1px;
      padding-left: 1px;
    }

    .aside__frame-info {
      margin-left: 6%;
    }
  }

  .col-xs-2 {
    width: 16.666%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-8 {
    width: 60.666%;
  }

  .col-xs-9 {
    width: 75%;
  }
}
