@import "vendor/bootstrap-custom";

/* Global styles */

body {
  background: #303e53 url(../../assets/img/loginBackground.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

/* Header styles */

header {
  padding-top: 25.21vh;
}

.header__img {
  width: 77.777%;
}

/* Main styles */

main {
  padding-top: 12.06vh;
}

.main__form {
  padding: 0 15.27%;
}

.main__input {
  width: 100%;
  height: 7.35vh;
  text-indent: 9.04%;
  margin-bottom: 3.73vh;
}

.main__input::placeholder {
  color: #ccced0;
}

.main__button {
  width: 100%;
  background-color: #ec8524;
  border: none;
  padding-top: 2.23vh;
  padding-bottom: 2.23vh;
  margin-bottom: 7.23vh;
}

.main__link {
  width: fit-content;
  color: #fff;
}

/* Footer styles */

footer {
  padding-top: 18.93vh;
}

.footer__links {
  color: #828994;
}

@media screen and (min-width: 992px){

  .footer__links {
    padding-left: 19.44%;
    padding-right: 19.44%;
  }
}