@import "vendor/bootstrap-custom";
@import "vendor/font-awesome-custom";

/* Global styles */

p {
  color: #8f8f8f;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

.fa-grey {
  color: #737e8e;
}

.fa-black {
  color: #000;
}

.fa-white {
  color: #fff;
}

/* SaSS variables */

$left-padd: 5.555%;

/* Nav bar styles */

nav {
  padding: 21px $left-padd 19px;
  background-color: #36455b;
}

.nav__tumblr-icon {
  margin-right: 4.5%;
  margin-top: 5px;
  color: #fff;
}

.nav__search-bar {

  display: inline-block;
  position: relative;
  color: #aaa;
  font-size: 16px;
  width: 35.5%;
  height: 55px;

  .nav__search-bar-icon {
    position: absolute;
    top: 19px;
    left: 17px;
  }

  input {
    height: 32px;
    background-color: #2d3a4e;
    border: none;
    text-indent: 43px;
    width: 100%;
    margin-top: 10px;
    color: #c6c6c6;
  }
}

::placeholder {
  color: #c6c6c6;
}

.nav__menu-icons {
  margin-top: 10px;
  margin-bottom: 10px;

  li {
    margin-top: 5px;
  }
}

.nav__menu-icon {
  font-size: 1.5rem;
}

.nav__menu-icon--pen {
  color: #36475e;
}

.nav__menu-pen-box {
  background: #529ecc no-repeat center;
  border-radius: 5px;
  width: 38px;
  margin-top: 0 !important;

  button {
    width: 100%;
    height: 100%;
  }
}

/* Main section styles */

main {
  background-color: #d2dae6;
  padding: 37px $left-padd 0 9.3%;
}

/* Main content section styles */

.main-row {
  margin-bottom: 30px;
}

.main-row__profile-pic {
  padding-right: 0;
  padding-left: 0;
  width: 14.02%;

  img {
    width: 66.666%;
  }
}

.main-row__post-content-box {
  background-color: #fff;
  padding: 22px 5.5% 27px;
  margin-bottom: 0;
}

.main-row__content {
  padding-left: 0;
  padding-right: 0;
}

.main-row__post-content-box__option {
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.main-row__post-content-box-option-link{
  height: 35px;
  display: inline-block;
}

.main-row__post-content-box-option {
  background-image: url(../../assets/img/sprite.png);
  display: inline-block;
}

.main-row__post-content-box--text {
  width: 26px;
  height: 16px;
  background-position: -55px 0;
}

.main-row__post-content-box--photo {
  width: 31px;
  height: 25px;
  background-position: -134px 0;
}

.main-row__post-content-box--quote {
  width: 26px;
  height: 23px;
  background-position: -81px 0;
}

.main-row__post-content-box--link {
  width: 27px;
  height: 27px;
  background-position: -107px 0;
}

.main-row__post-content-box--chat {
  width: 27px;
  height: 27px;
  background-position: -28px 0;
}

.main-row__post-content-box--audio {
  width: 28px;
  height: 29px;
  background-position: 0 0;
}

.main-row__post-content-box--video {
  width: 31px;
  height: 22px;
  background-position: -165px 0;
}

.main-row__posted-content-box {
  background-color: #fff;
}

.main-row__posted-content-info {
  padding: 33px 5.5%;
}

.main-row__main-photo {
  padding: 0;

  img {
    width: 100%;
  }
}

.main-row__posted-content-follow-button {
  margin-left: 4.26%;
}

.main-row__posted-content-icons {
  padding-left: 6%;
}

.main-row__posted-content-action-icons {
  margin-top: 36px;
}

/* Aside section styles */

.aside__box {
  background-color: #fff;
  margin-left: 15%;
  margin-bottom: 30px;

  .row {

    div {
      padding-right: 0;
    }
  }
}

h6 {
  margin-bottom: 0;
  padding: 28px 11.13% 23px 10%;
}

.aside__explore-tumblr {
  padding: 4px 11.13% 24px 10%;
}

.aside__profile-picture {
  padding-top: 8px;
}

.aside__username {
  color: #838383;
  margin-bottom: 0;
}

.aside__blogname {
  color: #b5b5b5;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.aside__plus-symbol {
  padding-left: 3.1%;
}

.aside__frame {
  padding: 0 11.13% 20px 10%;
  border-bottom: 1px #ebebeb solid;
  margin-bottom: 14px;
}

.aside__frame-info {
  padding-left: 0;
}

.aside__frame-radar {
  padding: 0 10% 15px;
}

.aside__radar-photo {
  width: 100%;
  padding: 0 10% 15px;
  margin-bottom: 16px;
}

.aside__radar-info {
  padding: 0 10% 15px;
}

/* Modal styles */

.modal {
  width: 52.77%;
  height: 380px;
  padding-right: 0 !important;
  margin: 181px auto 0;
}

.modal-backdrop {
  background-color: #556478;
}

.modal-dialog {
  max-width: none;
  width: 100%;
  height: 100%;
  margin: 0;
}

.modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
}

.modal-header-custom,
.modal-footer-custom {

  p {
    color: #000;
  }
}

.modal-header-custom {
  padding: 23px 5.95% 29px;
  height: 73px;

  .modal-title {
    margin-right: 15%;
  }

  .modal-title,
  .modal-dropdown {
    padding-top: 2.5px;
  }
}

.modal-body {
  background-color: #f3f3f3;
  padding: 0;
  height: 200px;

  .modal-body-row {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .modal-first-col {
    border-right: 1px solid #d5d5d5;
  }

  .modal-first-col,
  .modal-second-col {
    padding-left: 0;
    padding-right: 0;
  }

  .modal-body-upload {
    text-align: center;

    p {
      color: #c3c3c3;
    }
  }

  .local-upload {
    margin: 66px 30%;
  }

  .web-upload {
    margin: 57px 30%;
  }

  .modal-body-icon-holder-web {
    height: 71px;
  }

  .modal-body-icon-holder-local {
    height: 63px;
  }

  .modal-body-icon {
    margin: 0 auto;
    background-image: url("../../assets/img/sprite.png");
    display: inline-block;
  }

  .modal-body-icon--local {
    width: 48px;
    height: 33px;
    background-position: -196px 0;
  }

  .modal-body-icon--web {
    width: 46px;
    height: 46px;
    background-position: -244px 0;
  }
}

.modal-footer-custom {
  padding: 20px 5.95%;
  height: 73px;

  .post-box {
    width: 26.96%;
  }

  .btn-post {
    height: 34px;
    width: 69.56%;
    background-color: #529ecc;
    color: #fff;
    font-size: 0.7rem;
    padding: 8px 3.52% 15px;

    i {
      margin-left: 15%;
    }
  }
}

/* Media queries for responsiveness */

@media screen and (max-width: 1400px) and (min-width: 992px) {

  .aside__profile-picture {
    width: 90%;
    padding-top: 4px;
  }

  .aside__username,
  .aside__explore-tumblr,
  h6 {
    font-size: 0.8rem;
  }

  .aside__blogname {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 992px) {

  .nav__search-bar {
    width: 237px;
  }

  main {
    padding-left: 3%;
  }

  .aside__box {
    margin-left: 0;
  }

  .main-row__posted-content-info {
    padding: 33px 2%;
  }
}

@media screen and (max-width: 768px) {

  .nav__search-bar {
    width: 190px;
  }

  .main-row__profile-pic {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    margin-bottom: 10px;

    img {
      width: 10%;
    }
  }

  .modal {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {

  .col-xs-2 {
    width: 16.666%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-8 {
    width: 60.666%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .aside__frame-info {
    margin-left: 6%;
  }

  .main-row__content {
    width: 100%;
  }

  .main-row__post-content-box {
    padding-right: 1px;
    padding-left: 1px;
  }

  .post-box {
    width: 50% !important;
  }
}
